@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*  Base Rule */
html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

a,
li,
p {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

/* Theme */
:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --white-color: #ffffff;
    --para-color: #504e4d;
    --bnt-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}

/* Layout */
.container {
    max-width: 142rem;
    margin: auto;
    padding: 9.6rem 2.4rem;
}

.grid {
    display: grid;
}

.gridTwoCols {
    grid-template-columns: repeat(2, 1fr);
}
.gridThreeCols{
    grid-template-columns: repeat(3 , 1fr);
}

/* Module / reusable */
.sectionCommonTitle{
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}
.sectionCommonHeading{
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
}
.sectionCommonSubHeading{
    color: var(--heading-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

/* States */
.btn:hover {
    background-color: var(--bnt-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

/***** NAVBAR Section *****/
.sectionNavBar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.sectionNavBar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 0;
}

.navbar ul {
    display: flex;
    gap: 3.2rem;
    align-items: center;

    & .navLink {
        font-weight: 600;
        color: var(--heading-color);
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;


        &::after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0rem;
            border-bottom: .2rem solid var(--main-color);
            transition-property: all;
            transition-duration: 0.1s;
            transition-timing-function: linear;
            width: 0%;
        }
    }

    & li .navLink:hover::after {

        width: 100%;
    }

}

.logo {
    font-size: 2.5rem;

    color: white;
    background-color: #3d94fe;
    padding: .8rem 1rem;
    display: block;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    font-weight: 600;

    & span {
        background-color: white;
        color: black;
        padding: 0.7rem;
        font-weight: 600;
    }
}

/***** End NAVBAR Section *****/

/***** HERO Section *****/
main {
    position: relative;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}

.sectionHero .grid {
    align-items: center;
    gap: 6.4rem;

    & .heroSubHeading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: .2rem;
        color: var(--hero-heading-color);
        font-weight: 700;
    }

    & .heroHeading {
        font-size: 5.8rem;
        line-height: 1.5;
        font-family: "jost";
        color: var(--hero-heading-color);
        font-weight: 900;
    }
    & .heroPara{
        color: var(--white-color);
        margin-top: 2rem;
        margin-bottom: 4rem;
        
    }
}

.sectionHeroImage img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

/***** WAVE Section *****/ 
.custom-shape-divider-bottom-1730794712 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730794712 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1730794712 .shape-fill {
    fill: #FFFFFF;
}
/***** End WAVE Section *****/


/***** End HERO Section *****/

/***** About Section *****/ 
.sectionAbout .grid{
    gap: 6.4rem;
}
.sectionAbout .aboutDiv{
    text-align: center;
    padding: 2.4rem;

    
}
.sectionAbout img {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.aboutDiv .icon:hover > img{
   rotate: 360deg;
   transition: all 0.3s linear;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
   -ms-transition: all 0.3s linear;
   -o-transition: all 0.3s linear;
   background:linear-gradient(to right, #0675e6 , #021b79);
}
/***** End About Section *****/

@media screen and (width < 800px) {
    html {
        font-size: 50%;
    }
    
}